[submodule "maybe-docker"]
	path = maybe-docker
	url = https://github.com/CMaybe/maybe-docker
[submodule "MPC-Driving"]
	path = MPC-Driving
	url = https://github.com/CMaybe/MPC-Driving.git
[submodule "slack-qa-bot"]
	path = slack-qa-bot
	url = https://github.com/uowol/QA-Bot.git
[submodule "Aora"]
	path = Aora
	url = https://github.com/aor9/Aora.git
[submodule "Project-Eve"]
	path = Project-Eve
	url = https://github.com/aor9/Project-Eve
[submodule "kaggle-data-analysis"]
	path = kaggle-data-analysis
	url = https://github.com/uowol/Kaggle-Data-Analysis.git
